/* ## Front page
--------------------------------------------- */

.home {
    .site-inner {
        padding: 0;
    }
    .hero-section {
        padding: 25vw 0;
        @include breakpoint(sm) {
            padding: 20vh 0;
        }
        @include breakpoint(xl) {
            padding: 15vh 0;
        }
        .widget {
            margin: 0 auto;
        }
        h1 {
            font-size: 3rem;
            @include breakpoint(xs) {
                font-size: 4rem;
            }
            @include breakpoint(sm) {
                font-size: 6.2rem;
            }
        }
    }
}

[class*="front-page-"] {
    padding: 50px 0;
    @include breakpoint(sm) {
        padding: 100px 0;
    }
    >.wrap {
        @include breakpoint(sm) {
            display: flex;
            justify-content: space-between;
            &:before,
            &:after {
                display: none; // Flex fix.
            }
        }
    }
}

.home {
    .front-page-2 {
        text-align: center;
        .widget {
            margin: 0 1.25%
        }
    }
    .front-page-3 {
        padding: 0;
        @include breakpoint(sm) {
            padding: 0;
        }
        .listing-item {
            float: left;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            @include breakpoint(xs) {
                width: 50%;
            }
            @include breakpoint(sm) {
                width: 33.333333333333333333333333%;
            }
            .image {
                min-width: 100%;
                margin: 0;
                display: block;
                @include overlay;
                &:after {
                    content: " ";
                    display: block;
                    opacity: 0;
                    z-index: 2;
                    pointer-events: none;
                    @include transition;
                }
                &:hover,
                &:focus {
                    &:after {
                        opacity: .82;
                    }
                    +.title {
                        opacity: 1;
                        margin: 0;
                    }
                }
            }
            img {
                display: block;
                min-width: 100%;
            }
            .title {
                position: absolute;
                z-index: 3;
                color: $color-white;
                font-size: $font-size-heading;
                margin-top: 10rem;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .front-page-4 {
        background-color: $color-text;
        .widget {
            width: 100%;
        }
        .textwidget {
            text-align: center;
            @include breakpoint(xs) {
                text-align: left;
                display: flex;
                justify-content: space-between;
            }
        }
        h2 {
            color: $color-white;
            @include breakpoint(sm) {
                margin-bottom: 0;
            }
        }
    }
    .front-page-5 {
        .widget-title {
            font-size: $font-size-heading * 1.6;
            text-align: center;
            display: block;
            @include clearfix;
            &:after {
                content: " ";
                display: block;
                width: 100px;
                height: 3px;
                display: block;
                margin: 2.5rem auto;
                @include gradient;
            }
        }
        .post {
            border-radius: 6px;
            max-height: 270px;
            height: auto;
            overflow: hidden;
            width: 100%;
            margin-bottom: 0;
            position: relative;
            @include breakpoint(sm) {
                max-height: 370px;
                width: 48.717948717948715%;
                float: right;
                margin-left: 2.564102564102564%;
            }
            @include breakpoint(xl) {
                margin-bottom: 2%;
            }
            >a {
                display: block;
                margin-bottom: 0;
            }
            img {
                border-radius: 6px;
                width: 100px;
                height: 100px;
            }
            .entry-title {
                margin-bottom: 0;
                line-height: 1;
                width: 100%;
                font-size: $font-size-body;
                @include breakpoint(xs) {
                    font-size: $font-size-body * 1.2;
                }
                @include breakpoint(sm) {
                    font-size: $font-size-body;
                }
                @include breakpoint(lg) {
                    font-size: $font-size-body * 1.2;
                }
            }
            .entry-meta {
                padding: .618em 0 0;
                font-size: $font-size-body * .82;
                text-transform: capitalize;
            }
            .entry-content {
                p {
                    padding: 5px 0 0;
                    font-size: $font-size-body * .82;
                    line-height: 1.382;
                    margin-bottom: 28px;
                    margin-left: 124px;
                    @include breakpoint(xs) {
                        font-size: $font-size-body;
                    }
                    @include breakpoint(sm) {
                        font-size: $font-size-body * .9;
                    }
                    @include breakpoint(md) {
                        font-size: $font-size-body;
                    }
                }
            }
            &:first-of-type {
                position: relative;
                margin-left: 0;
                margin-bottom: 10%;
                float: left;
                @include breakpoint(sm) {
                    margin-bottom: 0;
                }
                &:hover {
                    &:after {
                        box-shadow: inset 0 -400px 400px -300px rgba(0, 10, 20, .9);
                    }
                }
                &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 6px;
                    pointer-events: none;
                    box-shadow: inset 0 -400px 400px -300px rgba(0, 10, 20, .8);
                    @include transition;
                }
                >a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                img {
                    min-height: 100%;
                    min-width: 100%;
                    display: block;
                    width: auto;
                    height: auto;
                }
                .entry-content {
                    display: none;
                }
                .entry-header,
                .entry-footer {
                    position: absolute;
                    left: 25px;
                    right: 25px;
                    bottom: 25px;
                    z-index: 1;
                    * {
                        color: $color-white;
                    }
                }
            }
        }
    }
    .front-page-6 {
        background-color: $color-border;
    }
}
