/* ## Site Footer
--------------------------------------------- */

.site-footer {
    background-color: $color-text;
    line-height: 1.382;
    font-size: $font-size-body;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
    >.wrap {
        >p {
            max-width: 90%;
            padding: 5% 0;
            @include breakpoint(sm) {
                padding: 50px 0;
            }
        }
    }
    p {
        margin-bottom: 0;
        color: darken($color-white, 30%);
    }
    a {
        color: darken($color-white, 20%);
        font-weight: bold;
        &:hover,
        &:focus {
            color: $color-white;
        }
    }
    .widget-area {
        @include breakpoint(sm) {
            margin-bottom: 0;
        }
    }
    .back-to-top {
        position: absolute;
        right: calc(5% - 5px);
        bottom: 5%;
        width: 4rem;
        height: 4rem;
        margin: -1rem;
        border-radius: 5px;
        box-shadow: inset 0 0 0 99px rgba(255, 255, 255, 0), 0 5px 20px rgba(0, 0, 0, 0);
        @include transition;
        @include breakpoint(sm) {
            right: 0;
            bottom: 50px;
        }
        &:hover {
            box-shadow: inset 0 0 0 99px rgba(255, 255, 255, .1), 0 5px 25px rgba(0, 0, 0, 0.23);
        }
        &:before {
            content: " ";
            display: block;
            height: 10px;
            width: 10px;
            margin: auto;
            transform: rotate(-45deg);
            border-top: 2px solid $color-white;
            border-right: 2px solid $color-white;
            border-radius: 2px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}


/* ## Before Footer
--------------------------------------------- */

.before-footer {
    padding: 50px 0;
    text-align: center;
    background-position: center;
    background-size: cover;
    transition: all .1s ease;
    position: relative;
    text-align: center;
    background-image: url("assets/images/hero.jpg");
    @include breakpoint(sm) {
        padding: 100px 0;
    }
    &:after {
        opacity: 0.82;
    }
    .widget {
        margin-bottom: 0;
    }
    i[class*="icon-"] {
        color: $color-white;
        font-size: 0px;
        height: $font-size-heading * 2;
        width: $font-size-heading * 2;
        display: inline-block;
        border-radius: 99px;
        padding: 0;
        margin: 0 $font-size-heading * 0.25;
        position: relative;
        box-shadow: inset 0 0 0 999px rgba(255, 255, 255, 0);
        @include transition;
		@include breakpoint(sm) {
            height: $font-size-heading * 2.5;
            width: $font-size-heading * 2.5;
			margin: 0 $font-size-heading * 0.5;
		}
        &:before {
			font-size: $font-size-heading * 2;
			@include breakpoint(sm) {
				font-size: $font-size-heading * 2.5;
			}
		}
    }
    a:hover i[class*="icon-"],
    a:focus i[class*="icon-"] {
        box-shadow: inset 0 0 0 999px rgba(255, 255, 255, .382);
    }
}


/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {
    background-color: $color-text;
    color: darken($color-white, 30%);
    >.wrap {
        padding: 50px 5%;
        @include breakpoint(sm) {
            padding: 100px 0;
            display: flex;
        }
    }
    .widget-area {
        flex: 1;
        margin-bottom: 7.5%;
        @include breakpoint(sm) {
            margin-bottom: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        color: darken($color-white, 20%);
        &:hover,
        &:focus {
            color: $color-white;
        }
    }
    .widget-title {
        font-size: $font-size-body * 1.1;
        margin-bottom: 1.382em;
        display: block;
        color: darken($color-white, 10%);
    }
    i[class*="icon-"] {
        color: $color-white;
        position: relative;
        bottom: -0.1em;
    }
}
